
.main .hero{
    background-image: url(images/MicrosoftTeams-image\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



  
    width: 501px;
    height: 540px;
    padding: 8rem;

  

  
}
.main .hero #logo{
    margin: 41% 28%;
    padding: 4%;
}
.main .hero #menu{
    visibility:hidden;
}
/*End*/

/*Hero goes to second div which is within MAIN div called [main]*/

.main .dig-seedling #dig{
    background-color:#9E6D52;
    width: 500px;/*23rem*/
    height:270px;/*15rem*/
    padding: 4rem;
    
   
  
  
}


.main .dig-seedling #seedling{
    background-color:#0A846E;
    width: 500px;/*23rem*/
    height:270px;/*15rem*/
    border: 1px solid #0A846E;
    padding: 4rem;

  


   
}

/*End*/


@media screen and (max-width: 600px) {

    .main .hero #menu{
        visibility:visible;
    }
    .hero #menu {
        position:absolute;
        top: 1rem;
        right: 2rem;
        width: 5rem;
       
    }

    
   

}