
.veckoorseed .article{
    text-align: center;
    display: flex;
    justify-content: center;

    margin-bottom: 2rem;
  
    

}
.veckoorseed  h1{
    font-size: 42px;
    color: #0A846E;;
    font-weight: 500px;
  
}

.veckoorseed  h2{
   

    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  

}


.veckoorseed  p{
   

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    

}



.article-img{

    background-color: #0A846E;
    border-radius: 115%;
    padding: 6.0em;
    margin: 4rem 1.5rem;

}

.veckoorseed .article .article-div{
    width: 400px;
    height: 270px;
    margin: 6.5rem 1.5rem;


}


.veckoorseed .article .article-div .btn-button{
    background-color: #0A846E;
    border: 2px solid #0A846E;
    border-radius: 1.5em;
    padding: 1.5em 4em;
    
    position: relative;
    left: 6rem;
}


