
body{
    margin: 0;
    box-sizing: border-box;
   overflow-x: hidden;
    text-align: center;
   
}

.main{
    
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  
   

   
}




.dig-seedling{
    display: flex;
    flex-direction: column;
}

.veckorseed{
   background-color: #FFFFFF;
}

/*fOOTER*/
footer{
    text-align: center;
    margin-bottom: 0;
}


@media screen and (max-width: 600px) {
      .main{
        flex-direction: column;
      }

     

      .veckoorseed .article{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    
    }


    
    
    .article-img{

   
        background-color: #0A846E;
        width: 14rem;
        height: 12rem;
        border-radius: 116%;
        margin: 0 auto;


    }


    .veckoorseed .article-div h2{
        text-align: center;
    
    }

    .veckoorseed .article-div   p{
   

       
        text-align: center;
        
    
    }

    .veckoorseed .article .article-div{
        display: flex;
        flex-direction: column;
        
    }
    .btn-button{
        justify-content: center;
        margin: 0 12rem 0 2rem;
    }


    
}
