body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #55aaff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #eeeeee;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

/* Lägg till stilar för ditt innehåll här */

footer {
    background-color: #55aaff;
    color: #fff;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    /* Lägg till andra anpassningar för mindre skärmar här */
}